<!DOCTYPE html>
<html>

	<head>
		<title>Vapor Community Market</title>
		<link rel="stylesheet" href="/assets/xp.css">
		<link rel="stylesheet" href="/assets/styles.css">
	</head>

	<body>
		<main class="center-container">
			<div class="window" style="width: 300px">
				<div class="title-bar">
					<div class="title-bar-text">Vapor Market - Game Info</div>
					<div class="title-bar-controls">
						<button aria-label="Close" onclick="location.href='/home'"></button>
					</div>
				</div>
				<div class="window-body" style="background: white">
	
					<fieldset>
						<legend>{{game}}</legend>
						<p>{{description}}</p>
						
						{{#admin}}
						<div class="field-row form-buttons">
							<button class="delete-button">delete</button>
						</div>
						{{/admin}}
					</fieldset>
					
					<fieldset>
						<legend>Items</legend>
						<table class="table">
		
						</table>
					</fieldset>
				</div>
				<div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
			</div>
		</main>
		<script src="/assets/utils.js"></script>
		<script>

			// DOM stuff we'll use
			const items = JSON.parse(`{{{itemData}}}`) ?? [];
			const table = DOM.select('.table')
			const delete_button = DOM.select('.delete-button')

			// The new elements we'll use
			const button = () => DOM.element('button')
			const tr = () => DOM.element('tr')
			const td = () => DOM.element('td')
			const th = () => DOM.element('th')
			const br = () => DOM.element('br')

			// Adds the headers of the table
			table.append(
				tr().append(
					th().txt('Item'),
					th().txt('Description'),
					th()
				)
			)

			/**
				* Maps each games to a table row.
				*/
			const item_mapper = (item) => (
				tr().class('table-row').append(
					td().txt(item.name),
					td().txt(item.description),
					td().append(button().stl({ color: 'blue' }).txt('view')),
					br()
				)
			)

			items.length && delete_button && delete_button
				.attribs({ disabled: true })
				.listen('mousemove', () => DOM.tooltip('You cannot delete games with items.'))
				.listen('mouseout', () => DOM.tooltip())
			items.map(item_mapper).map(e => table.append(e))
			delete_button.listen('click', () => DOM.post('/game/delete', { id: '{{id}}' }))
		</script>
	</body> 


</html>
