<!DOCTYPE html>
<html>

<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <main class="center-container">
    <div class="window" style="width: 300px">
      <div class="title-bar">
        <div class="title-bar-text">Vapor Market</div>
      </div>
      <div class="window-body" style="background: white">
        <div class="menu-container">
          <a href="/profile/update" class="menu-item"><img src="/assets/user.png" alt="" class="menu-icon"><span
              class="menu-text">Update User Profile</span></a>
          <a href="/listing/list" class="menu-item"><img src="/assets/viewlistings.png" alt="" class="menu-icon"><span
              class="menu-text">View Listings</span></a>
          <a href="/listing/create" class="menu-item"><img src="/assets/createlisting.png" alt="" class="menu-icon"><span
              class="menu-text">Post Item for Selling</span></a>
          <form action="/auth/logout" method="post">
            <button type="submit" class="menu-item"><img src="/assets/logout.png" alt="" class="menu-icon"><span
                class="menu-text">Logout</span></button>
          </form>
        </div>
      </div>
      <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
    </div>
  </main>
</body>

</html>
