<!DOCTYPE html>
<html>

	<head>
		<title>Vapor Community Market</title>
		<link rel="stylesheet" href="/assets/xp.css">
		<link rel="stylesheet" href="/assets/styles.css">
	</head>

	<body>
		<main class="center-container">
			<div class="window" style="width: 300px">
				<div class="title-bar">
					<div class="title-bar-text">Vapor Market - Item Info</div>
					<div class="title-bar-controls">
						<button aria-label="Close" onclick="location.href='/home'"></button>
					</div>
				</div>
				<div class="window-body" style="background: white">
	
					<fieldset>
						<legend>{{item}}</legend>
						<p>{{description}}</p>
						
						{{#admin}}
						<div class="field-row form-buttons">
							<button class="delete-button">delete</button>
						</div>
						{{/admin}}

						<p class="error">{{error}}</p>
					</fieldset>
					
					<fieldset>
						<legend>Listings</legend>
						<table class="table">
		
						</table>
					</fieldset>
				</div>
				<div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
			</div>
		</main>
		<script src="/assets/utils.js"></script>
		<script>

			// DOM stuff we'll use
			const listings = JSON.parse(`{{{listingData}}}`) ?? [];
			const table = DOM.select('.table')
			const delete_button = DOM.select('.delete-button')

			// The new elements we'll use
			const button = () => DOM.element('button')
			const tr = () => DOM.element('tr')
			const td = () => DOM.element('td')
			const th = () => DOM.element('th')
			const br = () => DOM.element('br')

			// Adds the headers of the table
			table.append(
				tr().append(
					th().txt('Listing ID'),
					th().txt('Item ID'),
					th().txt('Price'),
					th().txt('Seller ID'),
					th()
				)
			)

			/**
				* Maps each listing to a table row.
				*/
			const listing_mapper = (listing) => (
					tr().class('table-row').append(
						td().txt(listing.id),
						td().txt(listing.item),
						td().txt(listing.price),
						td().txt(listing.seller),
						td().append(button().stl({ color: 'blue' }).txt('buy'))
							.listen('click', () => DOM.post('/listing/buy', { listing_id: listing.id }),
						br()
					)
				)
			)

			listings.length && delete_button && delete_button
				.attribs({ disabled: true })
				.listen('mousemove', () => DOM.tooltip('You cannot delete items with listings.'))
				.listen('mouseout', () => DOM.tooltip())
			listings.map(listing_mapper).map(e => table.append(e))
			delete_button.listen('click', () => DOM.post('/item/delete', { id: '{{{id}}}' }))
		</script>
	</body> 


</html>
