<!DOCTYPE html>
<html>

<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <main class="center-container">
        <div class="window" style="width: 300px">
            <div class="title-bar">
                <div class="title-bar-text">Add Item</div>
                <div class="title-bar-controls">
                    <button aria-label="Close" onclick="location.href='/home'"></button>
                </div>
            </div>
            <div class="window-body">
                <fieldset>
                    <legend>Specify the item details</legend>
                    <form method="POST" action="/item/create">
                        <div class="field-row">
                            <label for="name">Item Name</label>
                            <input type="text" id="name" name="name" required />
                        </div>
                        <div class="field-row">
                            <label for="description">Item Description</label>
                            <input type="text" id="description" name="description" required />
                        </div>
                        <div class="field-row">
                            <label for="description">Item Game</label>
                            <select class="games-select" type="text" id="game" name="game" required >
                            </select>
                        </div>
                        <div class="field-row form-buttons">
                            <button type="submit">Add</button>
                        </div>
                    </form>
                </fieldset>
                
                <fieldset>
                    <legend>Items</legend>
                    <table class="table">
                        
                    </table>
                </fieldset>
                </div>
            <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
        </div>
        <script src="/assets/utils.js"></script>
		<script>

			// DOM stuff we'll use
			const items = JSON.parse('{{{itemData}}}');
			const games = JSON.parse('{{{gameData}}}')
            const table = DOM.select('.table')
            const select = DOM.select('.games-select')

			// The new elements we'll use
			const button = () => DOM.element('button')
			const option = () => DOM.element('option')
			const tr = () => DOM.element('tr')
			const td = () => DOM.element('td')
			const th = () => DOM.element('th')
			const br = () => DOM.element('br')

			// Adds the headers of the table
			table.append(
				tr().append(
					th().txt('Item'),
                    th().txt('Game'),
					th().txt('Description'),
					th()
				)
			)

			/**
            * Maps each games to a table row.
            */
			const item_mapper = (item) => (
				tr().class('table-row').append(
					td().txt(item.name),
					td().txt(item.game),
					td().txt(item.description),
					td().append(button().stl({ color: 'blue' }).txt('view')).listen('click', () => (location.href = '/items/item?item=' + item.name)),
					td().append(button().stl({ color: 'blue' }).txt('delete')).listen('click', () => (location.href = '/items/item?DELETEGAME')),
					br()
				)
			)
            
            /**
            * Maps each game to an option tag
            */
            const game_mapper = (game) => (
                option().txt(game.name).attribs({ value: game.id })
            )

            games.map(game_mapper).map(e => select.append(e))
			items.map(item_mapper).map(e => table.append(e))
		</script>
    </main>
</body> 

</html>