<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <main class="center-container">

    <div class="window" style="width: 500px">
      <div class="title-bar">
        <div class="title-bar-text"><p>{{displayName}} ({{username}})'s items</p></div>
        <div class="title-bar-controls">
          <button aria-label="Close" onclick="location.href='/'"></button>
        </div>
      </div>
      <div class="window-body">
        <fieldset>
          <legend>Current Inventory</legend>
          <p class="error">{{error}}</p>
          <table class="table">
          </table>
        </fieldset>
      </div>
      <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
    </div>
    
  </main>
</body>
<script src="/assets/utils.js"></script>
<script type="module">
  const items = JSON.parse(`{{{items}}}`) 
  const table = DOM.select('.table')

  // The new elements we'll use
  const button = () => DOM.element('button')
  const tr = () => DOM.element('tr')
  const td = () => DOM.element('td')
  const th = () => DOM.element('th')
  const br = () => DOM.element('br')

  // Adds the headers of the table
  table.append(
    tr().append(
      th().txt('Game Name'),
      th().txt('Item Name'),
      th().txt('Item Description'),
      th().txt('Obtained On'),
      th()
    )
  )

  /**
    * Maps each listing to a table row.
    */
  const item_mapper = (inventory) => (
    tr().class('table-row').append(
      td().txt(inventory.game_name),
      td().txt(inventory.item_name),
      td().txt(inventory.item_description),
      td().txt(inventory.obtained_on),
      td().append(button().stl({ color: 'blue' }).txt('view'))
        .listen('click', (() => location.href = '/inventory/instance/' + inventory.id)),
      br()
    )
  )
  
  items.map(item_mapper).map(e => table.append(e))
</script>


</html>