<!DOCTYPE html>
<html>

<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <main class="center-container">
    <div class="window" style="width: 300px">
      <div class="title-bar">
        <div class="title-bar-text">Generate Reports</div>
        <div class="title-bar-controls">
          <button aria-label="Close" onclick="location.href='/admin'"></button>
        </div>
      </div>
      <div class="window-body" style="background: white">
        <div class="menu-container">
          <a href="/admin/reports/marketPrice" class="menu-item"><img src="/assets/reports.png" alt="" class="menu-icon">
            <span class="menu-text">Market Price Report</span></a>
          <a href="/admin/reports/activeCount" class="menu-item"><img src="/assets/reports.png" alt="" class="menu-icon">
            <span class="menu-text">Active User Count Report</span></a>
          <a href="/admin/reports/userItems" class="menu-item"><img src="/assets/reports.png" alt="" class="menu-icon">
            <span class="menu-text">User Items Report</span></a>
          <a href="/admin/reports/itemsListed" class="menu-item"><img src="/assets/reports.png" alt="" class="menu-icon">
            <span class="menu-text">Items Listed Report</span></a>
      </div>
      </div>
      <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
    </div>
  </main>
</body>

</html>
