<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <main class="center-container">

    <div class="window" style="width: 500px">
      <div class="title-bar">
        
        <div class="title-bar-text">Search inventory items</div>

        <div class="title-bar-controls">
          <button aria-label="Close" onclick="location.href='/'"></button>
        </div>
        
      </div>
      <div class="window-body">
        <p class="">Vaporwave Market inventory items</p>
        <p>Enter details to inspect</p>
        

        <form action="/userInventoryItems/inspect" method="post">
          <div class="field-row">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required />
          </div>

          <section class="field-row" style="justify-content: flex-end">
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
          </section>
        </form>
        <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
      </div>
    </div>
  </main>
  <script>

		// DOM stuff we'll use
		const inventory = JSON.parse(`{{{inventoryData}}}`);
		const table = DOM.select('.table')

		// The new elements we'll use
		const button = () => DOM.element('button')
		const tr = () => DOM.element('tr')
		const td = () => DOM.element('td')
		const th = () => DOM.element('th')
		const br = () => DOM.element('br')

		// Adds the headers of the table
		table.append(
			tr().append(
				th().txt('Item ID'),
				th().txt('Date'),
				th()
			)
		)

		/**
			* Maps each listing to a table row.
			*/
		const item_mapper = (item) => (
			tr().class('table-row').append(
				td().txt(item.id),
				td().txt(item.item),
				td().txt(item.price),
				td().txt(item.seller),
				td().append(button().stl({ color: 'blue' }).txt('buy'))
					.listen('click', () => DOM.post('/listing/buy', { listing_id: item.id })
					.then(data => data.json())
					.then(data => location.href = '?error=' + data.error)),
				br()
			)
		)

		inventory.map(item_mapper).map(e => table.append(e))
  </script>
</body>


</html>