<!DOCTYPE html>
<html>

<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
  <main class="center-container">
    <div class="window" style="width: 300px">
      <div class="title-bar">
        <div class="title-bar-text">Vapor Market - Listings</div>
				<div class="title-bar-controls">
          <button aria-label="Close" onclick="location.href='/home'"></button>
        </div>
      </div>
      <div class="window-body" style="background: white">
				<table class="table">

				</table>
				<br>
				<form method="POST" action="/listing/list">
					<label for="item">Filter by item</label>
					<input type="text" name="item" id="item" placeholder="none" value="">
					
					<label for="item">Filter by seller</label>
					<input type="text" name="seller" id="seller" placeholder="none" value="">
					
					<label for="item">Filter by price</label>
					<input type="text" name="price" id="price" placeholder="none" value="">

					<label for="item">Filter by date</label>
					<input type="text" name="date" id="date" placeholder="none" value="">
					<br>
					<br>
					
					<section class="field-row form-buttons" style="justify-content: flex-end">
            <button type="reset">Reset</button>
            <button type="submit">Filter</button>
          </section>
				</form>
      </div>
      <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
    </div>
  </main>

	<script src="/assets/utils.js"></script>
	<script>

		// DOM stuff we'll use
		const listings = JSON.parse('{{{listingData}}}');
		const table = DOM.select('.table')

		// The new elements we'll use
		const tr = () => DOM.element('tr')
		const td = () => DOM.element('td')
		const th = () => DOM.element('th')
		const br = () => DOM.element('br')

		// Adds the headers of the table
		table.append(
			tr().append(
				th().text('Listing ID'),
				th().text('Item ID'),
				th().text('Price'),
				th().text('Seller ID'),
			)
		)

		/**
			* Maps each listing to a table row.
			*/
		const listing_mapper = (listing) => (
			tr().class('table-row').append(
				td().text(listing.id),
				td().text(listing.item),
				td().text(listing.price),
				td().text(listing.seller),
				br()
			)
		)
	</script>
</body>

</html>
