<!DOCTYPE html>
<html>

<head>
  <title>Vapor Community Market</title>
  <link rel="stylesheet" href="/assets/xp.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/datepicker.css">
  <link rel="stylesheet" href="/assets/datepicker.js">
</head>

<body>
  <main class="center-container">
    <div class="window" style="width: 300px">
      <div class="title-bar">
        <div class="title-bar-text">Vapor Market - Listings</div>
				<div class="title-bar-controls">
          <button aria-label="Close" onclick="location.href='/home'"></button>
        </div>
      </div>
      <div class="window-body" style="background: white">
				<p class="error">{{error}}</p>
				<fieldset>
					<legend>Enter filter details</legend>
					<form method="POST" action="/listing/view">
						<label for="item">Filter by item</label>
						<input type="text" name="item" id="item" placeholder="none" value="">
						
						<label for="seller">Filter by seller</label>
						<input type="text" name="seller" id="seller" placeholder="none" value="">
						
						<label>Price</label>
						<input type="text" name="pricemin" id="pricemin" placeholder="0" value="" style="width:20%"></input>
						-
						<input type="text" name="pricemax" id="pricemax" placeholder="INF" value="" style="width:20%"></input>
	
						<label>Date</label>
						<input type="text" id="visual-datemin" placeholder="start" style="width:20%"></input>
						-
						<input type="text" id="visual-datemax" placeholder="end" style="width:20%"></input>

						<!-- Hidden fields for actual values -->
						<input type="text" name="datemin" id="datemin" placeholder="start" style="width:20%; display: none;"></input>
						<input type="text" name="datemax" id="datemax" placeholder="end" style="width:20%; display: none;"></input>

						<br>
						<br>
						
						<section class="field-row form-buttons">
							<button type="reset">Reset</button>
							<button type="submit">Filter</button>
						</section>
					</form>
				</fieldset>
				
				<fieldset>
					<legend>Listings</legend>
					<table class="table">
	
					</table>
				</fieldset>
      </div>
      <div class="status-bar">Signed in as {{displayName}} ({{username}})</div>
    </div>
  </main>

	<script src="/assets/utils.js"></script>
	<script type="module">

		import '/assets/datepicker.js'

		// Create date picker
		const visual_datemin = DOM.select('#visual-datemin')
		const visual_datemax = DOM.select('#visual-datemax')

		const username = '{{username}}';
		const datemin = DOM.select('#datemin')
		const datemax = DOM.select('#datemax')
		
		const date_start_picker = datepicker(visual_datemin, { 
			onSelect: () => (datemin.value = new Date(visual_datemin.value).getTime())
		})
		const date_end_picker = datepicker(visual_datemax, { 
			onSelect: () => (datemax.value = new Date(visual_datemax.value).getTime())  
		})

		// DOM stuff we'll use
		const listings = JSON.parse(`{{{listingData}}}`);
		const table = DOM.select('.table')

		// The new elements we'll use
		const button = () => DOM.element('button')
		const tr = () => DOM.element('tr')
		const td = () => DOM.element('td')
		const th = () => DOM.element('th')
		const br = () => DOM.element('br')

		// Adds the headers of the table
		table.append(
			tr().append(
				th().txt('Listing ID'),
				th().txt('Item ID'),
				th().txt('Price'),
				th().txt('Seller ID'),
				th()
			)
		)

		/**
			* Maps each listing to a table row.
			*/
		const listing_mapper = (listing) => (
				tr().class('table-row').append(
					td().txt(listing.id),
					td().txt(listing.item),
					td().txt(listing.price),
					td().txt(listing.seller),
					td().append(button().stl({ color: 'blue' }).txt('buy'))
						.listen('click', () => DOM.post('/listing/buy', { listing_id: listing.id }),
					br()
				)
			)
		)

		listings
			.filter(listing => !listing.sold)
			.map(listing_mapper).map(e => table.append(e))
	</script>
</body>

</html>
